<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @merchandising_video.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @merchandising_video.video %>
</p>

<%= link_to 'Edit', edit_merchandising_video_path(@merchandising_video) %> |
<%= link_to 'Back', merchandising_videos_path %>
