<body class="sessions">
  <section class="container-sessions">


    <h2>Pagamento</h2>

    <%= form_for :subscription, url: form_pagamento_path do |f| %>

      <div class="field">
        <p><%= f.label :CPF %></p>
        <%= f.text_field :cpf %>
      </div>

      <div class="field">
        <p><%= f.label :Nome %></p>
        <%= f.text_field :nome %>
      </div>
      
      <div class="field">
        <p><%= f.label :Email %></p>
        <%= f.text_field :email %>
      </div>      
      
      <div class="field">
        <p><%= f.label :Telefone %></p>
        <%= f.text_field :telefone %>
      </div>        
      
      <div class="fieldPag">
        <p><%= f.label :Pacote %></p>
        <%= select(:subscription, :package_id, package_select) %>
      </div>      
      
      <div class="actions">
        <%= f.submit "Enviar" %>
      </div>

    <% end %>
  </section>
</body>
