<body class="home">
<section class="main-session">
    <div class="container-home">
        <div class="home-esquerda">
            <h2><%=@showcase.title%> </h2>
            <h1><%=@showcase.subtitle%></h1>
            <h3><%=@showcase.phrase%></h3>
        </div>
        <div class="home-direita ">
            <p><%=link_to "Área do congressista", login_path, class: "area-do-congressista-button"%></p>
        </div>
    </div>
    <div class='icon-scroll'></div>
</section>
<section class="evento-session sections-home-table-cell">
    <div class="home-esquerda">
        <h4><%=@the_event.title%></h4>
        <p><%=@the_event.content%></p>
    </div>
    <div class="home-direita">
        <h2><%=@the_event.days%></h2>
        <div><span>de </span><h3> <%=@the_event.mounth%></h3></div>
        <div><span>em </span><h3> <%=@the_event.locality%></h3></div>
    </div>
</section>

<section class="passport-session">
    <div class="container-passport">
        <div class="passport-left">
            <%= image_tag("passaporte.png", :alt => "logo da plataforma de passaporte", :class => "logo-passport") %>
        </div>
    </div>
    
    <div class="container-passport">
        <div class="passport-right">
                <div class="text-passport">
                    <h2><%=@airfare.title%></h2>
                    <p><%=@airfare.phrase%></p>
                    <button class="price-button">Confira os preços </button>
                </div>
        </div>
    </div>
</section>

<section class="palestrantes-session sections-home-table-cell">
    <div class="home-esquerda">
        <h2><%=@the_speakers.title%></h2>
        <p><%=@the_speakers.description%></p>
        <p><button class="confira-ja-button">Confira Já</button></p>
    </div>
    <div class="home-direita">
    </div>
    
</section>
<section class="editais-session sections-home-table-cell">
    <div class="home-esquerda">
    </div>
    <div class="home-direita">
        <h2><%=@event_notices.title%></h2>
        <p><%=@event_notices.content%></p>
        <p><button class="confira-ja-button">Confira Já</button></p>
    </div>
</section>

<section class ="revolucao-session">
    <h2><%=@video.title%></h2>
    <div class="revolucao-centro" style="position: relative; width: 400px;">
        <div class="revolucao-video" controls width=400 height=220>
        <%= video_tag @video.video, class: "revolucao-video" , controls: true%>
        </div>
    </div>
</section>


<section class="realizadores-session">
    <div class="realizadores-middle">
        <h2><%= @event_realizers_title %></h2>
        <div id="realizadorslider" class="owl-carousel owl-theme">
            <% @event_realizers.each do |event|%>
                <div class="item">
                    <%= link_to (image_tag(event.image, alt: "logo do enec", class: "logo-enec-owl")), "http://#{event.link}" %>
                    <p><%= event.description %></p>
                    <h3><%= event.name %></h3>
                </div>
            <% end %>
        </div>
    </div>
</section>

<section class="patrocinadores-session sections-home-table-cell">
    <div class="home-middle">
        <h2><%=@sponsor_and_supporters_title%>  </h2>
        <div class="logos-patrocinadores">
            <% @sponsors_and_supporters.each do |ss| %>
                <%= link_to (image_tag(ss.image,alt: "logo do patrocinador", class: "logo-patrocinador")), "http://#{ss.link}" %>
            <% end %>
        </div>
    </div>
</section>
<section class="contato-session sections-home-table-cell">
    <div class="home-middle">
    <h2>Contato</h2>
    <%=form_with(url: send_contact_email_path, remote: true)  do |f| %>
        <p><%= f.text_field :name, placeholder: "Nome", class: "input" %></p>
        <p><%= f.text_field :email,placeholder: "E-mail",  class: "input" %></p>
        <p><%= f.text_area :message,placeholder: "Mensagem", class: "input mensagem" %></p>
        <input type="submit" value="Enviar" class="form-button">
    <% end %>
    </div>
</section>
</body>