<body class="sessions">
    <section class="container-sessions">
        <div class="container-sessions-vertical-middle">
        <h2>login</h2>
        <div class="noticeLogin"><%= notice %></div>
        <%= form_for(:session, url: login_path) do |f| %>
            <div class="field">
                <p><%= f.label :Email %></p>
                <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="field">
                <p><%= f.label :Senha %></p>
                <%= f.password_field :password, class: 'form-control' %>
            </div>

            <div class="actions">
                <%= f.submit "Entrar", class: "btn btn-primary" %>
            </div>
        <% end %>

        </div>
    </section>
</body>