<%= form_with(model: event_realizer, local: true) do |form| %>
  <% if event_realizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_realizer.errors.count, "error") %> prohibited this event_realizer from being saved:</h2>

      <ul>
      <% event_realizer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class: "input-texto"%>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link , class: "input-texto"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image%>
  </div>
  
  <div class="actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
