<p id="notice"><%= notice %></p>

<%= link_to "Alterar título", edit_event_realizers_title_path(@event_realizer_title)%>

<h1>Event Realizers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_realizers.each do |event_realizer| %>
      <tr>
        <td><%= event_realizer.name %></td>
        <td><%= event_realizer.description %></td>
        <td><%= event_realizer.link %></td>
        <td><%= link_to 'Editar', edit_event_realizer_path(event_realizer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


