<%= form_with(model: merchandising_video, local: true) do |form| %>
  <% if merchandising_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchandising_video.errors.count, "error") %> prohibited this merchandising_video from being saved:</h2>

      <ul>
      <% merchandising_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Título  %>
    <%= form.text_field :title , class: "input-texto" %>
  </div>

  <div class="field">
    <%= form.label :Vídeo  %>
    <%= form.file_field :video, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
