<%= form_with(model: airfare, local: true) do |form| %>
  <% if airfare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(airfare.errors.count, "error") %> prohibited this airfare from being saved:</h2>

      <ul>
      <% airfare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Título %>
    <%= form.text_field :title, class: "input-texto" %>
  </div>

  <div class="field">
    <%= form.label :Frase %>
    <%= form.text_field :phrase, class: "input-texto" %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
