<%= form_with(model: sponsors_and_supporter, local: true) do |form| %>
  <% if sponsors_and_supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsors_and_supporter.errors.count, "error") %> prohibited this sponsors_and_supporter from being saved:</h2>

      <ul>
      <% sponsors_and_supporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :Link %>
    <%= form.text_field :link, class: "input-texto" %>
  </div>
  <div class="field send-file" id="image_field">
      <%= form.file_field :image, id:"image_label"%>
      <label for="image_label">Escolher Imagem</label>
      <%= form.hidden_field :picture_cache %>
  </div>
  <div class="actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>

<!--
<script>
$("[type=file]").on("change", function(){
  // Name of file and placeholder
  var file = this.files[0].name;
  var dflt = $(this).attr("placeholder");
  if($(this).val()!=""){
    $(this).next().text(file);
  } else {
    $(this).next().text(dflt);
  }
});
</script>
-->