<%= form_with(model: sponsors_and_supporter, local: true) do |form| %>
  <% if sponsors_and_supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsors_and_supporter.errors.count, "error") %> prohibited this sponsors_and_supporter from being saved:</h2>

      <ul>
      <% sponsors_and_supporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
