<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @sponsors_and_supporter.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @sponsors_and_supporter.link %>
</p>

<%= link_to 'Edit', edit_sponsors_and_supporter_path(@sponsors_and_supporter) %> |
<%= link_to 'Back', sponsors_and_supporters_path %>
