<%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <h1 class="TituloNewUser">Redefinir Senha</h1>

    <div class="boxTextos">
        <h4>Senha:</h4>
        <%= form.password_field :password,:class=>'textSenha' %>
    </div>

    <div class="boxTextos">
        <h4>Confirme sua senha:</h4>
        <%= form.password_field :password_confirmation,:class=>'textSenha' %>
    </div>

    <input type="submit" value="enviar" class="btnSenha" />

<% end %>