<body class="sessions">
    <section class="container-sessions">
        <div class="container-sessions-vertical-middle">
        <h2>Redefinir Senha</h2>

        <%= form_with(model: @user, local: true) do |form| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="field">
                <p><label>Senha:</label></p>
                <%= form.password_field :password,:class=>'textSenha' %>
            </div>

            <div class="field">
                <p><label>Confirme Sua Senha</label></p>
                <%= form.password_field :password_confirmation,:class=>'textSenha' %>
            </div>

            <div class="actions">
                <input type="submit" value="Redefinir">
                <%= link_to 'Voltar', users_path %>
            </div>
        <% end %>
        </div>
    </section>
</body>