<body class="sessions">
  <section class="container-sessions">
    <h2>Editar Usuário</h2>
    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="campos-cadastro">
        <div class="session-esquerda">
          <div class="field">
            <p><%= form.label :"Nome" %></p>
            <%= form.text_field :name, placeholder:"Nome" %>
          </div>

          <div class="field">
            <p><%= form.label :Email %></p>
            <%= form.text_field :email, placeholder:"E-mail" %>
          </div>

          <div class="field">
            <p><%= form.label :Telefone %></p>
            <%= form.text_field :telephone %>
          </div>

          <div class="field">
            <p><%= form.label :Delegação %></p>
            <%= form.text_field :delegation %>
          </div>


          <div class="field">
            <p><%= form.label :CPF %></p>
            <%= form.text_field :cpf %>
          </div>

          <div class="field">
            <p><%= form.label :RG %></p>
            <%= form.text_field :rg %>
          </div>

          <div class="field">
            <p><%= form.label :"Orgão Emissor" %></p>
            <%= form.text_field :rg_issuing_body %>
          </div>

          <div class="field">
            <p><%= form.label :"Data de Nascimento" %></p>
            <%= form.date_field :birth_date %>
          </div>

          <div class="field">
            <p><%= form.label :Gênero %></p>
            <%= form.select :gender, User.genders.keys, {include_blank: true}%>
          </div>
        </div>
        <div class="session-direita">
          <div class="field">
            <p><%= form.label :Endereço %></p>
            <%= form.text_field :address %>
          </div>

          <div class="field">
            <p><%= form.label :Cidade %></p>
            <%= form.text_field :city %>
          </div>

          <div class="field">
            <p><%= form.label :Estado %></p>
            <%= form.text_field :state %>
          </div>  

          <div class="field">
            <p><%= form.label :IES %></p>
            <%= form.select :IES_id, options_from_collection_for_select(@ies, 'id', 'name'),{include_blank: true} %>
          </div>
          <div class="field">
            <p><%= form.label :Curso %></p>
            <%= form.text_field :course %>
          </div> 

          <div class="field">
            <p><%= form.label :Período %></p>
            <%= form.text_field :period %>
          </div>

          <div class="field">
            <p><label>foto do perfil</label></p>
            <div class="field send-file" id="file_field">
              <%= form.file_field :image, id:"image_label" %>
              <label for="image_label">Enviar Arquivo</label>
              <%= form.hidden_field :file_cache %>
            </div>
          </div>  
            
          <div>
            <p><label>comprovante de matricula</label></p>
            <div class="field send-file" id="file_field">
              <%= form.file_field :registration_proof, id:"file_label" %>
              <label for="file_label">Enviar Arquivo</label>
              <%= form.hidden_field :file_cache %>
            </div>
          </div>
          <!--
          <div class="field send-file" id="image_field">
            <%= form.file_field :image, id:"image_label"%>
            <label for="image_label">Escolher Imagem</label>
            <%= form.hidden_field :picture_cache %>
          </div>
        -->
          <% if current_user.admin? %>
            <div class="fieldcheck">
              <p><%= form.label :subscribe_status, "Inscrito?" %></p>
              <p class="checkInscrito">
                <%= form.check_box :subscribe_status %>
              </p>
            </div>
          <% end %>

        </div>
      </div>
      <div class="actions">
        <%= form.submit "Terminar"%>
        <%= link_to 'Voltar', user_path(@user) %>
      </div>
    <% end %>
  </section>
</body>
