<p id="notice"><%= notice %></p>

<h1>Lista de cadastrados</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Nome</th>
      <th>Delegação</th>
      <th>Lote</th>
      <th>Inscrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user%></td>
        <td><%= user.name%></td>
        <td><%= user.delegation %></td>
        <td><%= user_lot_name(user) %></td>
        <%if user.subscribe_status %>
          <td>Inscrito</td>
        <%else%>
          <td>Não Inscrito</td>
        <%end%>
        <td><%= link_to 'Ver Cadastro', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar usuario', new_user_path %>
