<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Delegation</th>
      <th>Lot</th>
      <th>Name</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Rg issuing body</th>
      <th>Birth date</th>
      <th>Gender</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Ies name</th>
      <th>Ies city</th>
      <th>Ies state</th>
      <th>Ies course</th>
      <th>Ies period</th>
      <th>Ies registration proof</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.delegation %></td>
        <td><%= user.lot.name %></td>
        <td><%= user.name %></td>
        <td><%= user.cpf %></td>
        <td><%= user.rg %></td>
        <td><%= user.rg_issuing_body %></td>
        <td><%= user.birth_date %></td>
        <td><%= user.gender %></td>
        <td><%= user.address %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
