<section class="index-sections">
  <div class="container-table">
  <p id="notice"><%= notice %></p>
    <h1>Lista de cadastrados</h1>
    <div class="titulo-com-edit">
      <button><%= link_to "Adicionar usuario", new_user_path%></button>
    </div>
    <div class="busca-users">
      <%= form_tag(users_path, method: :get) do %>
      <%= text_field_tag :term, params[:term],:class => "busca-input", :placeholder => "Digite o nome:" %>
      <%= submit_tag 'Pesquisar', name: nil, :class => "busca-submit" %>
      <% end %>   
    </div>

    <div class="clear"></div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Nome</th>
            <th>Delegação</th>
            <th>Lote</th>
            <th>Inscrição</th>
            <th colspan="3">Ações</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email%></td>
              <td><%= user.name%></td>
              <td><%= user.delegation %></td>
              <% if user.lot_id.present? %>
                <td><%= user_lot_name(user) %></td>
              <% else %>
                <td>Não encontrado</td>
              <% end %>
              <%if user.subscribe_status %>
                <td>Inscrito</td>
              <%else%>
                <td>Não Inscrito</td>
              <%end%>
              <td class="td-ações td-editar"><%= link_to 'Ver', user %></td>
              <td class="td-ações td-editar"><%= link_to 'Editar', edit_user_path(user) %></td>
              <td class="td-ações td-editar"> <%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <p>Importar Usuario</p>

      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar" %>
      <% end %>
      
      <%= will_paginate @users, :previous_label => 'Anterior', :next_label => 'Próxima', :class => "paginacao-index" %>
      
    </div>
  </div>
  
  <!--<button><%= link_to "Voltar", sections_edit_path %></button>-->

  
</section>



