<body class="sessions">
  <section class="container-sessions">
    
    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="campos-cadastro">
        <h2>Cadastro de Usuários</h2>
        <div class="field">
          <p><%= form.label :Email %></p>
          <%= form.text_field :email %>
        </div>

        <div class="field">
          <p><%= form.label :lot_id %></p>
          <%= form.select :lot_id, options_from_collection_for_select(@lots, 'id', 'name'),{include_blank: true} %>
        </div>

        <div class="field">
          <p><%= form.label :Delegação %></p>
          <%= form.text_field :delegation %>
        </div>

        <div class="field">
          <p><%= form.label :Senha %></p>
          <%= form.text_field :password %>
        </div>

        <div class="actions">
          <%= form.submit "Cadastrar" %>
          <%= link_to 'Voltar', users_path %>
        </div>

      </div>
    <%end%>
    
  </section>
</body>    
