<body class="show-user">
  <section class="perfil">
    <div class="headers-do-perfil">
      <div class="retangulo-esquerdo"></div><div class="retangulo-direito"></div>
      <div class="triangulo-esquerdo"></div><div class="triangulo-direito"></div>
    </div>
    <%= image_tag @user.image.url, class:"img-perfil", alt:"Imagem de perfil"%>
    <div class="container-perfil">
      <h2>
        <%= @user.name %>
      </h2>
      <div class="informações-perfil">
        <h3>Email: <span><%= @user.email %></span></h3>
        <h3>Gênero: <span><%= @user.gender %></span></h3>
        <% if @user.birth_date.present? %>
          <h3>Data de Nascimento: <span><%=  brazilian_default_date(@user.birth_date) %></span></h3>
        <% end %>
        <h3>Rg: <span><%= @user.rg %></span></h3>
        <h3>Cpf: <span><%= @user.cpf %></span></h3>
        <h3>Orgão Emissor: <span><%= @user.rg_issuing_body %></span></h3>
        <h3>Endereço: <span><%= @user.address %></span></h3>
        <h3>Delegação: <span><%= @user.delegation %></span></h3>
        <h3>Cidade: <span><%= @user.city %></span></h3>
        <h3>Estado: <span><%=  @user.state %></span></h3>
        <h3>Curso: <span><%= @user.course %></span></h3>
        <h3>Período: <span><%= @user.period %></span></h3>
        <h3>Inscrição: 
          <%if @user.subscribe_status %>
            <span>Inscrito</span>
          <%else%>
            <span class="nao-inscrito">Não Inscrito</span>
          <%end%>
        </h3>
        <% if @user.IES_id.present? %>
          <h3>IES: <span><%= user_ies(@user).name %>, <%= user_ies(@user).city %>, <%= link_to "Comprovante de Matrícula", @user.registration_proof.url%></span></h3>
        <% else %>
          <h3>IES: <span> Não cadastrado. </span></h3>
        <% end %>
        <div class="perfil-links">
          <button><%=link_to "Alterar Senha", change_password_path(@user)%></button>
          <button><%= link_to 'Editar Perfil', edit_user_path(@user) %></button>
          <%if admin_user_logged?%>
            <button><%= link_to 'Voltar', users_path %></button>
          <%end%>
        </div>
      </div>
      <%if user_payment_exists?(@user)%>
        <p>
        Lote:
        <%= user_lot(@user).name %>
        <%= find_user_payment(@user).value %>
        <%= find_user_payment(@user).description %>
        </p>
      <%else%>
        <div class="perfil-links">
          <button><%= link_to 'Pagamento', "https://#{user_lot(@user).link}" %></button>
        </div>
      <%end%>
    </div>
  </section>
</body>










