<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Delegation:</strong>
  <%= @user.delegation %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @user.lot %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @user.rg %>
</p>

<p>
  <strong>Rg issuing body:</strong>
  <%= @user.rg_issuing_body %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Ies name:</strong>
  <%= @user.IES_name %>
</p>

<p>
  <strong>Ies city:</strong>
  <%= @user.IES_city %>
</p>

<p>
  <strong>Ies state:</strong>
  <%= @user.IES_state %>
</p>

<p>
  <strong>Ies course:</strong>
  <%= @user.IES_course %>
</p>

<p>
  <strong>Ies period:</strong>
  <%= @user.IES_period %>
</p>

<p>
  <strong>Ies registration proof:</strong>
  <%= @user.IES_registration_proof %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
