<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Delegation:</strong>
  <%= @user.delegation %>
</p>

<p>
  <strong>Lot:</strong>
  <%= user_lot_name(@user) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @user.rg %>
</p>

<p>
  <strong>Rg issuing body:</strong>
  <%= @user.rg_issuing_body %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>


</p>
<%=link_to "Alterar Senha", change_password_path%>
<%= link_to 'Editar Perfil', edit_user_path(@user) %> |
<%if admin_user_logged?%>
  <%= link_to 'Voltar', users_path %>
<%end%>
