<p id="notice"><%= notice %></p>


<%= image_tag @user.image.url%>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= brazilian_default_date(@user.birth_date) %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @user.rg %>
</p>

<p>
  <strong>Rg issuing body:</strong>
  <%= @user.rg_issuing_body %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Delegation:</strong>
  <%= @user.delegation %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>
<p>
  <strong>Curso:</strong>
  <%= @user.course %>
</p>
<p>
  <strong>Periodo:</strong>
  <%= @user.period %>
</p>
<p>
  <strong>Inscrição:</strong>
  <%if @user.subscribe_status %>
    Inscrito
  <%else%>
    Não Inscrito
  <%end%>
</p>
<p>
  <strong>IES:</strong>
  <%= user_ies(@user).name %>,
  <%= user_ies(@user).city %>,
  <%= link_to "Comprovante de Matrícula", @user.registration_proof.url  %>
</p>



<%=link_to "Alterar Senha", change_password_path(@user)%>
<%= link_to 'Editar Perfil', edit_user_path(@user) %> 
<%if admin_user_logged?%>
  <%= link_to 'Voltar', users_path %>
<%end%>


<%if user_payment_exists?(@user)%>
  <p>
  Lote:
  <%= user_lot(@user).name %>
  <%= find_user_payment(@user).value %>
  <%= find_user_payment(@user).description %>
  </p>
<%else%>
  <%= link_to 'Pagar', "https://docs.google.com/forms/d/e/1FAIpQLSckkKmedsvx9vYgilev0iG2Md1ZoAeBk19RwoRP_fEAEH2jBA/viewform" %>
<%end%>