<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_college_information.user %>
</p>

<p>
  <strong>Ies:</strong>
  <%= @user_college_information.IES %>
</p>

<p>
  <strong>Course:</strong>
  <%= @user_college_information.course %>
</p>

<p>
  <strong>Period:</strong>
  <%= @user_college_information.period %>
</p>

<p>
  <strong>Registration proof:</strong>
  <%= @user_college_information.registration_proof %>
</p>

<%= link_to 'Edit', edit_user_college_information_path(@user_college_information) %> |
<%= link_to 'Back', user_college_informations_path %>
