<%= form_with(model: event_notice, local: true) do |form| %>
  <% if event_notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_notice.errors.count, "error") %> prohibited this event_notice from being saved:</h2>

      <ul>
      <% event_notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title , class: "input-texto" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field send-file" id="image_field">
    <%= form.file_field :image, id:"image_label"%>
    <label for="image_label">Escolher Imagem</label>
    <%= form.hidden_field :picture_cache %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
