<section class="index-sections">
  <div class="container-table">
    <p id="notice"><%= notice %></p>
    <h2>
      Pacote:
      <%= @payment.package.name %>
    </h2>

    <h2>
      Valor Total:
      <%= number_to_currency(@payment.value, :unit => "R$ ", :separator => ",",
          :delimiter => ".") %>
    </h2>

    <h2>
      Forma de Pagamento:
      <%= pretty_payment_option(@payment) %>
    </h2>

    <h2>
      Opção de Parcelamento:
      <%= @payment.parceling_option %> vezes
    </h2>

    <div class="titulo-com-edit">
      <button><%= link_to 'Voltar', @payment.user %></button>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th> Valor </th>
            <th> Pago? </th>
          </tr>
        </thead>
        <tbody>
          <% @payment.parcels.each do |parcel| %>
            <tr>
              <td><%= number_to_currency(parcel.value, :unit => "R$ ", :separator => ",",
          :delimiter => ".") %></td>
              <td><%= pretty_parcel_status(parcel) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</section>