<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @payment.package %>
</p>

<p>
  <strong>Payment option:</strong>
  <%= @payment.payment_option %>
</p>

<p>
  <strong>Parceling option:</strong>
  <%= @payment.parceling_option %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
