<%= form_with(model: lot, local: true) do |form| %>
  <% if lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<div class="campos-cadastro">
  

  <div class="field">
    <p><%= form.label :Nome %></p>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p><%= form.label :status %></p>
    <%= form.number_field :status %>
  </div>

  <div class="fieldTermo">
    <p><%= form.label :Termo %></p>
    <%= form.file_field :term %>
  </div>

  <div class="field">
    <p><%= form.label :link, "Link (sem http://)" %></p>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar" %>
  </div>
</div>
  
<% end %>
