<section class="index-sections">
  <div class="container-table">
  <p id="notice"><%= notice %></p>
    <h1>Lista de Lotes</h1>
    <div class="titulo-com-edit">
      <button><%= link_to 'Novo Lote', new_lot_path %></button>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Link</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Excluir</th>
            
          </tr>
        </thead>

        <tbody>
          <% @lots.each do |lot| %>
            <tr>
              <td><%= lot.name %></td>
              <td><%= lot.status %></td>
              <td><%= lot.link %></td>
            
              <td class="td-ações td-editar"><%= link_to 'Ver', lot %></td>
              <td class="td-ações td-editar"><%= link_to 'Editar', edit_lot_path(lot) %></td>
              <td class="td-ações td-editar"> <%= link_to 'Excluir', lot, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
