<p id="notice"><%= notice %></p>

<p>
  <strong>Lote:</strong>
  <%= @lot.name %>
</p>

<p>
  <strong>Link no Google Form:</strong>
  <%= @lot.link %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lot.status %>
</p>

<p>
  <strong>Termo:</strong>
  <%= link_to 'PDF', @lot.therm.url, target: :_blank %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
