<body class="sessions">
  <section class="container-sessions">

<p id="notice"><%= notice %></p>

<div class="boxLoteShow">
  <h3>Lote:</h3>
  <p><%= @lot.name %></p>
</div>

<div class="boxLoteShow">
  <h3>Link do Google Form:</h3>
  <p><%= @lot.link %></p>
</div>

<div class="boxLoteShow">
  <h3>Status:</h3>
  <p><%= @lot.status %></p>
</div>

<div class="boxLoteShow">
  <h3>Termos e Condições:</h3>
  <p><%= link_to 'PDF', @lot.term.url, target: :_blank %></p>
</div>



</section>
</body>
