<%= form_with(model: the_event, local: true) do |form| %>
  <% if the_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(the_event.errors.count, "error") %> prohibited this the_event from being saved:</h2>

      <ul>
      <% the_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Título %>
    <%= form.text_field :title, class: "input-texto" %>
  </div>

  <div class="field">
    <%= form.label :Dias %>
    <%= form.text_field :days, class: "input-texto" %>
  </div>
  <div class="field">
    <%= form.label :Mês %>
    <%= form.text_field :month, class: "input-texto" %>
  </div>
  <div class="field">
    <%= form.label :Local %>
    <%= form.text_field :locality, class: "input-texto" %>
  </div>
  <div class="field">
    <%= form.label :Conteúdo %>
    <%= form.text_area :content, class: "input-textarea" %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
