<!DOCTYPE html>
<html>
  <head>
    <title>Enec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" href="/app/assets/stylesheets/owl.carousel.css"/>
    <link rel="stylesheet" href="/app/assets/stylesheets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/app/assets/stylesheets/owl.theme.default.css"/>
    <link rel="stylesheet" href="/app/assets/stylesheets/owl.theme.default.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= image_tag("enec_logo.png", :alt => "logo do enec", :class => "logo-enec") %>
        <div class="hamburguer">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <nav> 
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">Compra</a></li>
            <li><a href="#">Cases</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Calendário</a></li>
            <li><a href="#">Certificados</a></li>
          </ul>  
        </nav> 
      </header>
<!--      <div class="after-header"></div>-->
    <div class="links-de-login">
    <% if logged_in? %>
      <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
      <%if current_user.admin?%>
      <h1>ENEC</h1>
      <%else%>
        <%if current_user.manager%>
          <p>Olá, Manager</p>
        <%else%>
          <p>Olá, User</p>
        <%end%>
      <%end%>
    <% end %>
    </div>

      <%= yield %>
      <div class="push"></div>
    </div>
    <footer class="footer">
    <div class="footer-esquerda">
      <a href="#"><%= image_tag("facebook.png", :alt => "logo do facebook", :class => "logo-social first-logo-social") %></a>
      <a href="#"><%= image_tag("instagram.png", :alt => "logo do instagram", :class => "logo-social") %></a>
      <a href="#"><%= image_tag("youtube.png", :alt => "logo do youtube", :class => "logo-social") %></a>
    </div>
    <div class="footer-direita">
      <span>Desenvolvido por: </span>
      <a href="#"><%= image_tag("in-logo.png", :alt => "logo da in-junior", :class => "logo-in-junior") %></a>
    </div>
    </footer>
    <script src="/app/assets/javascripts/owl.carousel.min.js"></script>
    <script src="/app/assets/javascripts/owl.carousel.js"></script>
  </body>
</html>
