<!DOCTYPE html>
<html>
  <head>
    <title>ENEC 2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="description" content="ENEC 2019 - Porto Alegre. Faça parte!" />      
    <meta name="keywords" content="ENEC, Engenharia, Civil, Engenharia Civil, Porto Alegre, Delegação, Passaporte"/>
    <meta name="robots" content="index, follow">
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="copyright" content="© 2018 ENEC 2019" />
    <meta name="generator" content="Ruby on Rails" />
    <meta name="revisit-after" content="7 days" />
    <meta name="rating" content="general" />

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <div class="wrapper">
      <header>
      <%= link_to root_path do %><%= image_tag("enec_logo.png", :alt => "logo do enec", :class => "logo-enec") %><% end %>
        <div class="hamburguer">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <nav> 
          <ul>
            <%if (current_page?(root_path)) && !current_user%>
              <li><a href="#section-main">Principal</a></li>
              <li><a href="#section-event">O Evento</a></li>
              <li><a href="#section-pass">Passaporte</a></li>
              <li><a href="#section-pales">Palestrantes</a></li>
              <li><a href="#section-edi">Editais</a></li>
              <li><a href="#section-revo">A Revolução</a></li>
              <li><a href="#section-reali">Realizadores</a></li>
              <li><a href="#section-patro">Patrocinadores</a></li>
              <li><a href="#section-contact">Contato</a></li>
            <%else%>
              <li> <%= link_to 'Home', root_path %></li>
            <%end%>

            <%if admin_user_logged?%>
              <li> <%= link_to 'Lista de Cadastrados', users_path %></li>
              <li> <%= link_to 'Lista de Lotes', lots_path %></li>
              <li> <%= link_to 'Editar página', sections_edit_path %></li>
            <%elsif logged_in? and !admin_user_logged?%>
              <li> <%= link_to 'Meu Cadastro', @current_user %></li>
              <li> <%= link_to 'Pagamento', "https://#{user_lot(current_user).link}" %></li>
              <li> Inscrições - Em breve </li>
              <li> Hospedagens - Em breve </li>
              <li> Cronograma - Em breve </li>
              <li> Certificados - Em breve </li> 
            <%end%>
            
            <% if logged_in? %>
               <li><%= link_to "Sair", logout_path, method: :delete %> </li>
            <% end %>
          </ul>  
        </nav> 
      </header>
      <%= yield %>
    <div class="push"></div>
    </div>
    <footer class="footer">
    <div class="footer-esquerda">
      <a href="https://www.facebook.com/ENECBrasil/"><%= image_tag("facebook.png", :alt => "logo do facebook", :class => "logo-social first-logo-social") %></a>
      <a href="https://www.instagram.com/oficialenec/"><%= image_tag("instagram.png", :alt => "logo do instagram", :class => "logo-social") %></a>
      <a href="#"><%= image_tag("youtube.png", :alt => "logo do youtube", :class => "logo-social") %></a>
    </div>
    <div class="footer-direita">
      <span>Desenvolvido por: </span>
      <a href="http://injunior.com.br/"><%= image_tag("in-logo.png", :alt => "logo da in-junior", :class => "logo-in-junior") %></a>
    </div>
    </footer>
  </body>
</html>
